body { margin: 0; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
code { font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace; }
.frame { max-width: 1440px; width: calc(100% - 70px); margin:0 auto; }
.campaign-table .MuiTableRow-root.MuiTableRow-head th:nth-child(2) { width:200px !important; }
.invoice-template {
  & { max-width: 100%; background-color: #f5f5f5; width: 100%; min-height: 100vh; }
  .clearfix::after { content: ""; clear: both; display: table; }
  .col-left { float: left; }
  .col-right { float: right; }
  h1 { font-size: 1.5em; color: #444; margin: 0px; text-align: right; }
  h2 {font-size: .9em;}
  h3 { font-size: 1.2em; font-weight: 300; line-height: 2em; }
  p { font-size: .75em; color: #666; line-height: 1.2em; margin: 0; }
  a { text-decoration: none; color: #00a63f; } 
  #invoiceholder { margin: 0 auto; width: 700px; padding: 50px 0; } 
  #invoice{ position: relative; background: #FFF; margin-bottom: 20px;
  }
  #invoice-top { border-bottom: 2px solid #00a63f; display: flex; justify-content: space-between; align-items: center; padding: 15px 20px; }
  #invoice-mid {min-height: 110px; padding: 15px 20px; }
  #invoice-bot { min-height: 240px; padding: 15px 20px; }
  .logo { display: inline-block; vertical-align: middle; width: 110px; overflow: hidden; }
  .info { display: inline-block; vertical-align: middle; margin-left: 20px; }
  .logo img, .clientlogo img { width: 40px; }
  .clientlogo { display: inline-block; vertical-align: middle; width: 50px; }
  .clientinfo { display: inline-block; vertical-align: middle; margin-left: 20px; }
  .title { float: right; }
  .title p {text-align: right;}
  #message {margin-bottom: 30px; display: block; }
  h2 { margin-bottom: 5px; color: #444; }
  .col-right td { color: #666; padding: 5px 8px; border: 0; font-size: 0.75em; border-bottom: 1px solid #eeeeee; }
  .col-right td label { margin-left: 5px; font-weight: 600; color: #444; text-transform: uppercase; }
  .cta-group a { display: inline-block; padding: 7px; border-radius: 4px; background: rgb(196, 57, 10); margin-right: 10px; min-width: 100px; text-align: center; color: #fff; font-size: 0.75em; }
  .cta-group .btn-primary { background: #00a63f; }
  .cta-group.mobile-btn-group { display: none; }
  table { width: 100%; border-collapse: collapse; }
  td { padding: 10px; border-bottom: 1px solid #cccaca; font-size: 0.70em; text-align: left; }
  .tabletitle th { border-bottom: 2px solid #ddd; text-align: right; }
  .tabletitle th:nth-child(1) { text-align: left; }
  th { font-size: 0.7em; text-align: left; padding: 5px 10px; }
  .item {width: 50%; }
  .list-item td { text-align: right; }
  .list-item td:nth-child(1) { text-align: left; }
  .total-row th, .total-row td { text-align: right; font-weight: 700; font-size: .75em; border: 0 none; }
  footer { border-top: 1px solid #eeeeee;; padding: 15px 20px; }
  .effect2 { position: relative; }
  .effect2:before, .effect2:after { z-index: -1; position: absolute; content: ""; bottom: 15px; left: 10px; width: 50%; top: 80%; max-width:300px; background: #777; -webkit-box-shadow: 0 15px 10px #777; -moz-box-shadow: 0 15px 10px #777; box-shadow: 0 15px 10px #777; -webkit-transform: rotate(-3deg); -moz-transform: rotate(-3deg); -o-transform: rotate(-3deg); -ms-transform: rotate(-3deg); transform: rotate(-3deg); }
  .effect2:after { -webkit-transform: rotate(3deg); -moz-transform: rotate(3deg); -o-transform: rotate(3deg); -ms-transform: rotate(3deg); transform: rotate(3deg); right: 10px; left: auto; }
}
